{% extends 'proveedores/fragments/base.html' %}
{% block main-content %}
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card">
                <div class="card-image">
                    <img src="{{ proveedores.image.url }}" height="400px" style="object-fit: cover;">
                </div>
                <div class="card-content">
                    <span class="card-title">Ficha Proveedor</span>
                    <p><b>Nombre:</b> {{ proveedores.name }}</p>
                    <p><b>RUT:</b> {{ proveedores.rut }}</p>
                    <p><b>Categoria: </b> {{ proveedores.category }}</p>
                    <p><b>Correo: </b>{{ proveedores.correo }}</p>
                    <p><b>Telefono: </b>{{ proveedores.telefono }}</p>
                    <p><b>Direccion: </b>{{ proveedores.direccion }} {{ proveedores.ciudad }} {{ proveedores.pais }}</p>
                    <p><b>Ingresado el: </b>{{ proveedores.created }}</p>
                    <p><b>Ultima actualizacion: </b>{{ proveedores.updated }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ proveedores.get_edit_url }}">Editar</a>
                    <a href="{{ proveedores.get_delete_url }}">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}